h2 {
padding: 0.7rem 2rem;
margin: 1.0rem 0rem;
border-left: 5px solid #000;
background: var(--bs-light);
}

h3 {
padding: 0.5rem 0rem;
margin-left: 1.0rem;
border-bottom: 3px solid #000;
}

.under-h3 {
margin-left: 2.0rem;
}

/* Table */
table thead tr th {
border-bottom: 1px solid var(--bs-gray-dark);
}

table tbody tr td {
border-bottom: 1px solid var(--bs-gray-500);
}